*{
	margin:0;
	padding: 0;
}
.clear:after{
	content: "";
	clear:both;
	display: block;
}
.head{
	width: 100%;
	height: 32px;
	background: #0a0810;
	margin:0 auto;
	position: relative;
}
.head1{
	width: 1145px;
	height: 32px;
	margin:0 auto;
	/*border: 1px red solid;*/
	font-family: "Microsoft Yahei";
}
.head1_1{
	float: left;
	font-size: 20px;
	color: #ffffff;
	margin-right:105px;
}
.head1_2{
	font-size: 12px;
	float: left;
}
.head1_2 li{
	float: left;
	line-height: 32px;
	margin-right:52px;
}
.head1_2 a{
	color: #ffffff;
	text-decoration: none;
}
.head1_2 ul{
	list-style: none;
}
li.er1{
	float: left;
	margin-right: 32px;
}
.head1_3{
	width: 18px;
	height: 18px;
	float: left;
	background: url(../img/1.png) 0 -44px;
	margin-top: 8px;
}
.mid{
	width: 100%;
	max-width: 1600px;
	height:932px;
    background: url(../img/40.png) no-repeat;
	position: relative;
	top:-30px;
	z-index: -1;
}
.mid1{
	width: 1440px;
	height: 932px;
	margin:0 auto;
}
.mid13{
	width: 1440px;
	height: 932px;
	position: absolute;
	background: url(../img/41.png) no-repeat;
	margin-top: 30px;
	margin-left: 71px;
}
.mid131{
	width: 108px;
	height: 36px;
	float: left;
	background: #cb00da;
	margin-top: 53px;
	margin-left: 350px;
	color: white;
	font-family: "Microsoft Yahei";
	font-size: 20px;
	line-height: 36px;
	text-indent: 13px;
}
.mid132{
	width: 570px;
	height: 193px;
	float: left;
	background: white;
	margin-left: -108px;
	margin-top: 91px;
}
.mid1321{
	width: 500px;
	height: 20px;
	float: left;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 16px;
}
.mid1322{
	width: 495px;
	height: 50px;
	float: left;
	margin-top: 40px;
	margin-left: 10px;
	/*border: 1px red solid;*/
	font-family: "Microsoft Yahei";
}
.mid13221{
	width: 340px;
	height: 25px;
	float: left;
	font-size: 12px;
	color:#666666;
}
.mid13221 i{
    width: 14px;
    height: 14px;
    float: left;
    background: url(../img/1.png) -23px -21px;
}
.mid13222{
	width: 107px;
	height: 25px;
	float: left;
	font-size: 12px;
	color:#666666;
}
.mid13222 i{
    width: 14px;
    height: 19px;
    float: left;
    background: url(../img/1.png) 0 -21px;
}
.mid13223{
	width: 340px;
	height: 25px;
	float: left;
	font-size: 12px;
	color:#666666;
}
.mid13223 i{
    width: 14px;
    height: 20px;
    float: left;
    background: url(../img/1.png)  -65px 0;
}
.mid13224{
	width: 127px;
	height: 25px;
	float: left;
	font-size: 12px;
	color:#666666;
}
.mid13224 i{
    width: 14px;
    height: 17px;
    float: left;
    background: url(../img/1.png) -89px 0;
}
.mid133{
	width: 405px;
	height: 205px;
	float: left;
	/*border:1px red solid;*/
	margin-left: -483px;
	margin-top: 358px;
	background: url(../img/36.jpg) no-repeat;
}
.foot{
	width: 100%;
	height: 79px;
	background: #f4f4f4;
}
.foot1{
	width: 1242px;
	height: 20px;
	float: left;
	/*border:1px red solid;*/
	margin-top: 30px;
	margin-left: 215px;
}
.foot11{
	width: 445px;
	height: 20px;
	float: left;
}
.foot11 a{
	color: #727272;
	text-decoration: none;
	line-height: 20px;
}
.foot11 ul{
	list-style: none;
}
.foot11 li{
	float: left;
	margin-right:39px;
	font-size: 12px;
	color: #727272;
}
#li222{
	margin-right: 50px;
}

.foot22{
	width: 640px;
	height: 20px;
	float: left;
	margin-left: 44px;
	font-size: 12px;
	color:#727272;
	font-family: "Microsoft Yahei";
	letter-spacing: -1px;
}