*{
	margin:0;
	padding: 0;
}
.clear:after{
	content: "";
	clear:both;
	display: block;
}
.head{
	width: 100%;
	height: 32px;
	background: #0a0810;
	margin:0 auto;
	position: relative;
}
.head1{
	width: 1145px;
	height: 32px;
	margin:0 auto;
	/*border: 1px red solid;*/
	font-family: "Microsoft Yahei";
}
.head1_1{
	float: left;
	font-size: 20px;
	color: #ffffff;
	margin-right:105px;
}
.head1_2{
	font-size: 12px;
	float: left;
}
.head1_2 li{
	float: left;
	line-height: 32px;
	margin-right:52px;
}
.head1_2 a{
	color: #ffffff;
	text-decoration: none;
}
.head1_2 ul{
	list-style: none;
}
li.er1{
	float: left;
	margin-right: 32px;
}
.head1_3{
	width: 18px;
	height: 18px;
	float: left;
	background: url(../img/1.png) 0 -44px;
	margin-top: 8px;
}
.top{
	width: 100%;
	max-width: 1600px;
	height: 730px;
	background: url(../img/14.png) no-repeat;
	position: relative;
	/*top:-30px;*/
	z-index: -1;
}
.top1{
	width: 13px;
	height: 13px;
	/*float: left;*/
	background: url(../img/1.png) 0 -76px;
	/*border: 1px red solid;
*/	position: absolute;
	z-index: 2;
	top:662px;
	left:772px;

}
.top2{
	width: 13px;
	height: 13px;
	/*float: left;*/
	background: url(../img/1.png) 0 -64px;
    /*border: 1px red solid;*/
	position: absolute;
	z-index: 2;
	top:660px;
	left:785px;
}
.top3{
	width: 13px;
	height: 13px;
	/*float: left;*/
	background: url(../img/1.png) 0 -64px;
    /*border: 1px red solid;*/
	position: absolute;
	z-index: 2;
	top:660px;
	left:799px;
}
.mid{
	width: 100%;
	height: 42px;
	background: #f4efef;
	float: left;
	margin-top: -30px;
}
.mid1{
	width: 1140px;
	height: 23px;
	margin:0 auto;
	/*border: 1px red solid;*/
	margin-top: 13px;
}
.mid1 b{
	margin-left: 2px;
}
.mid1_1{
	font-family: "Microsoft Yahei";
	font-size: 20px;
	color: #36004d;
	float: left;
	margin-top: -3px;

}.mid1_2{
	width: 146px;
	height: 22px;
	float: left;
	margin-left: 140px;
	font-size: 12px;
	line-height: 22px;
	color: #666666;
}
.mid1_21{
	width: 14px;
	height: 22px;
	float: left;
	background: url(../img/1.png)0 -19px;
}
.mid1_3{
	width: 102px;
	height: 22px;
	float: left;
	margin-left: 144px;
	font-size: 12px;
	line-height: 22px;
	color: #666666;
}
.mid1_31{
	margin-top: 4px;
	width: 13px;
	height: 15px;
	float: left;
	background: url(../img/1.png) -25px 0;
}
.mid1_4{
    width: 167px;
	height: 22px;
	float: left;
	margin-left: 144px;
	font-size: 12px;
	line-height: 22px;
	color: #666666;
}
.mid1_41{
	margin-top: 4px;
	width: 13px;
	height: 15px;
	float: left;
	background: url(../img/1.png) -24px -21px;
}
.mid1_5{
    width: 82px;
	height: 22px;
	float: left;
	margin-left: 134px;
	font-size: 12px;
	line-height: 22px;
	color: #666666;
}
.mid1_51{
	margin-top: 4px;
	width: 13px;
	height: 15px;
	float: left;
	background: url(../img/1.png) 0 0;
}
.iam{
	width: 1141px;
	height: 426px;
	margin:0 auto;
	/*border: 1px red solid;*/
	margin-top: 60px;
	position: relative;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: white;
	margin-bottom: 43px;
}
.iam1{
	width: 222px;
	height: 205px;
	position: absolute;
	background: url(../img/3.jpg);
}
.iam_1{
	width: 222px;
	height: 205px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: block;
	z-index: 0;
}
.iam_11{
	width: 107px;
	height: 72px;
	position: absolute;
	left: 57px;
	top: 68px;
	background: #ff48ce;
	z-index: 1;
	display: block;
}
.iam_11 p{
    text-align: center;
}
.iam_11 .pp1{
    margin-top: 16px;
}
.iam1:hover .iam_1{
	display: none;
}
.iam1:hover .iam_11{
	display: none;
}
.iam2{
	width: 222px;
	height: 207px;
	position: absolute;
	background: url(../img/12.jpg) -2px 0;
	top:218px;
	left: 2px;
}
.iam_2{
	width: 222px;
	height: 207px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 0;
}
.iam_21{
	width: 107px;
	height: 72px;
	position: absolute;
	left: 57px;
	top: 68px;
	background: #ff48ce;
	z-index: 1;
	display: none;
}
.iam_21 p{
    text-align: center;
}
.iam_21 .pp1{
    margin-top: 16px;
}
.iam2:hover .iam_2{
	display: block;
}
.iam2:hover .iam_21{
	display: block;
}
.iam3{
	width: 224px;
	height: 425px;
	position: absolute;
	background: #ffd3c6;
	left:228px;
}
.iam3_1{
	width: 160px;
	height: 274px;
	position: absolute;
	z-index:1;
	background: url(../img/4.png);
	left:27px;
	top:53px;
}
.iam_3{
	width: 224px;
	height: 425px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 2;
}
.iam_31{
	width: 107px;
	height: 72px;
	position: absolute;
	left: 57px;
	top: 176px;
	background: #ff48ce;
	z-index: 3;
	display: none;
}
.iam_31 p{
    text-align: center;
}
.iam_31 .pp1{
    margin-top: 16px;
}
.iam3:hover .iam_3{
	display: block;
}
.iam3:hover .iam_31{
	display: block;
}
.iam4{
	width: 81px;
	height: 106px;
	position:absolute;
	background: #f5e3de;
	z-index: 1;
	left:458px;
}
.iam_4{
	width: 81px;
	height: 106px;
	position:absolute;
	/*left:458px;*/
	background: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
    z-index: 2;
}
.iam4:hover .iam_4{
	display: block;
}
.iam5{
	width: 165px;
	height: 106px;
	position: absolute;
	background: #f5e3de;
	left:546px;
}
.iam5_1{
	width: 105px;
	height: 92px;
	position: absolute;
	background: url(../img/5.png);
	left: 26px;
	top:14px;
}
.iam_5{
	width: 165px;
	height: 106px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 2;
}
.iam_51{
	width: 107px;
	height: 29px;
	position: absolute;
	left: 31px;
	top: 39px;
	background: #ff48ce;
	z-index: 3;
	display: none;
}
.iam_51 p{
    text-align: center;
}
.iam_51 .pp1{
    margin-top: 4px;
}
.iam5:hover .iam_5{
	display: block;
}
.iam5:hover .iam_51{
	display: block;
}
.iam6{
	width: 192px;
	height: 106px;
	position: absolute;
	background: #eadfd8;
	left: 718px;
}
.iam6_1{
	width: 100px;
	height: 138px;
	position: absolute;
	background: url(../img/7.png);
	left: 45px;
}
.iam_6{
	width: 192px;
	height: 106px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 2;
}
.iam_61{
	width: 107px;
	height: 29px;
	position: absolute;
	left: 42px;
	top: 39px;
	background: #ff48ce;
	z-index: 3;
	display: none;
}
.iam_61 p{
    text-align: center;
}
.iam_61 .pp1{
    margin-top: 4px;
}
.iam6:hover .iam_6{
	display: block;
}
.iam6:hover .iam_61{
	display: block;
}
.iam7{
	width: 222px;
	height: 210px;
	position: absolute;
	background: #c2e1fe;
	left: 458px;
	top:118px;
}
.iam7_1{
	width: 173px;
	height: 172px;
	position: absolute;
	background: url(../img/6.png);
	top:19px;
	left:16px;
}
.iam_7{
	width: 222px;
	height: 210px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 2;
}
.iam_71{
	width: 107px;
	height: 72px;
	position: absolute;
	left: 58px;
	top: 69px;
	background: #ff48ce;
	z-index: 3;
	display: none;
}
.iam_71 p{
    text-align: center;
}
.iam_71 .pp1{
    margin-top: 19px;
}
.iam7:hover .iam_7{
	display: block;
}
.iam7:hover .iam_71{
	display: block;
}
.iam8{
	width: 144px;
	height: 91px;
	position: absolute;
	background: #d8d8d8;
	left: 458px;
	top:335px;
}
.iam8_1{
	width: 125px;
	height: 81px;
	position: absolute;
	background: url(../img/11.png);
	left:5px;
	top:2px;
}
.iam_8{
	width: 144px;
	height: 91px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 2;
}
.iam_81{
	width: 107px;
	height: 29px;
	position: absolute;
	left: 18px;
	top: 35px;
	background: #ff48ce;
	z-index: 3;
	display: none;
}
.iam_81 p{
    text-align: center;
}
.iam_81 .pp1{
    margin-top: 4px;
}
.iam8:hover .iam_8{
	display: block;
}
.iam8:hover .iam_81{
	display: block;
}
.iam9{
	width: 73px;
	height: 91px;
	position: absolute;
	background:#d8d8d8;
	left: 607px;
	top:335px;
}
.iam_9{
	width: 73px;
	height: 91px;
	position:absolute;
	/*left:458px;*/
	background: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
    z-index: 2;
}
.iam9:hover .iam_9{
	display: block;
}
.iam10{
	width: 224px;
	height: 309px;
	position: absolute;
	background: #ffdad3;
	top:117px;
	left: 686px;
}
.iam10_1{
	width: 223px;
	height: 253px;
	position: absolute;
	background: url(../img/10.png);
	top:31px;
}
.iam_10{
	width: 224px;
	height: 309px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 2;
}
.iam_101{
	width: 107px;
	height: 79px;
	position: absolute;
	left: 58px;
	top:125px;
	background: #ff48ce;
	z-index: 3;
	display: none;
}
.iam_101 p{
    text-align: center;
}
.iam_101 .pp1{
    margin-top: 29px;
}
.iam10:hover .iam_10{
	display: block;
}
.iam10:hover .iam_101{
	display: block;
}
.iam11{
	width: 222px;
	height: 207px;
	position: absolute;
	background: #f8cce9;
	left:916px;
}
.iam11_1{
	width: 147px;
	height: 174px;
	position: absolute;
	background: url(../img/8.png);
	left:32px;
	top:19px;
}
.iam_17{
	width: 222px;
	height: 207px;
	position: absolute;
	background: black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	display: none;
	z-index: 2;
}
.iam_112{
	width: 107px;
	height: 79px;
	position: absolute;
	left: 58px;
	top:59px;
	background: #ff48ce;
	z-index: 3;
	display: none;
}
.iam_112 p{
    text-align: center;
}
.iam_112 .pp1{
    margin-top: 19px;
}
.iam11:hover .iam_17{
	display: block;
}
.iam11:hover .iam_112{
	display: block;
}
.iam12{
	width: 222px;
	height: 207px;
	position: absolute;
	background: #ededed;
	left: 916px;
	top:218px;
}
.iam12_1{
	width: 79px;
	height: 178px;
	position: absolute;
	background: url(../img/9.png);
	left:71px;
	top:24px;
}
.iam12:hover .iam_17{
	display: block;
}
.iam12:hover .iam_112{
	display: block;
}
.foot{
	width: 100%;
	height: 79px;
	background: #f4f4f4;
}
.foot1{
	width: 1242px;
	height: 20px;
	float: left;
	/*border:1px red solid;*/
	margin-top: 30px;
	margin-left: 215px;
}
.foot11{
	width: 445px;
	height: 20px;
	float: left;
}
.foot11 a{
	color: #727272;
	text-decoration: none;
	line-height: 20px;
}
.foot11 ul{
	list-style: none;
}
.foot11 li{
	float: left;
	margin-right:39px;
	font-size: 12px;
	color: #727272;
}
#li222{
	margin-right: 50px;
}
.foot22{
	width: 640px;
	height: 20px;
	float: left;
	margin-left: 44px;
	font-size: 12px;
	color:#727272;
	font-family: "Microsoft Yahei";
	letter-spacing: -1px;
}